<div class="h-100 w-100 d-flex flex-column border">
  <app-header></app-header>
  <div class="flex-grow-1 d-flex flex-column">
    <div class="d-flex justify-content-around border-bottom"> 
      <div class="cursor-pointer" routerLink="/html">HTML</div> 
      <div class="cursor-pointer" routerLink="/css">CSS</div> 
      <div class="cursor-pointer" routerLink="/javascript">Javascript</div> 
      <div class="cursor-pointer" routerLink="/angular">Angular</div> 
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>